.user-select-none {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.user-select-text {
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}

@color-0: #e86b4e;
@color-1: #2341a4;
@color-2: #cb40cc;
@color-3: #98f000;
@color-4: #791e8a;
@color-5: #75d1cc;
@color-6: #3d3c2e;

* {
  color: #333333;
  font-size: 100%;
  text-align: center;
}

body {
  background-image: url("./app/images/background.gif");
}

ika-header {
  display: block;
  background: #fff;

  h1 {
    margin: 0;
  }

  p {
    padding-top:    1.2rem;
    padding-bottom: 1.2rem;
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
  }
}

ika-entry-form {
  display: block;
  background: linear-gradient(#fff, rgba(255, 255, 255, 0));
  padding-bottom: 1rem;

  .login-info {
    padding: 1.4rem 0 2rem;
  }

  .form-info {
    margin: 1.5rem 0 1rem;
    height: 1em;
    line-height: 1em;
  }

  .form-info.error {
    font-weight: bold;
  }

  .error.kumano { color: @color-0; }
  .error.anemo { color: @color-2; }
  .error.judgekun { color: @color-6; }

  label[for="ikaId"] {
    position: relative;
    top: -1px;
    width: 80px;
    margin-right: 1rem;
    img {
      width: 100%;
    }
  }

  input {
    text-align: left;
    border: 2px solid #333;
    border-radius: 4px;
    padding: .5rem 1rem;
    width: 17em;
    font-size: 1.8rem;
  }

  .error input {
    border: 2px solid @color-0;
  }

  .posting {
    height: 3em;
    margin-left: 1rem;
    -webkit-appearance: none;

    border-radius: 8px;
    transition: border .3s ease, background-color .3s ease;

    img {
      position: relative;
      height: 2em;
    }

    &.save {
      background: #00aeef;
      border: 2px solid darken(#00aeef, 20%);

      p {
        margin-top: 1.2rem;
        font-size: 1.2rem;
      }

      img {
        top: 2px;
      }
    }

    &.update {
      background: #fff;
      border: 2px solid @color-1;
    }

    &.remove {
      background: #fff;
      border: 2px solid @color-0;
    }

    &[disabled="disabled"] {
      transition: opacity .3s ease;
      opacity: .2;
    }
  }

  .error .posting p {
    display: none;
  }
}

ika-palette {
  .user-select-none;
  display: block;
  cursor: default;

  button {
    -webkit-appearance: none;
    width: 32px;
    height: 32px;
    border: none;
    margin: 1.2rem;
    border-radius: 6px;
    border: 2px solid #fff;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0);

    &:focus {
      outline: none;
    }
  }

  #color-0 { background-color: @color-0; }
  #color-1 { background-color: @color-1; }
  #color-2 { background-color: @color-2; }
  #color-3 { background-color: @color-3; }
  #color-4 { background-color: @color-4; }
  #color-5 { background-color: @color-5; }
  #color-6 { background-color: @color-6; }

  .active {
    transition: box-shadow .2s ease;
  }
  #color-0.active { box-shadow: 0 0 1px 5px @color-0; }
  #color-1.active { box-shadow: 0 0 1px 5px @color-1; }
  #color-2.active { box-shadow: 0 0 1px 5px @color-2; }
  #color-3.active { box-shadow: 0 0 1px 5px @color-3; }
  #color-4.active { box-shadow: 0 0 1px 5px @color-4; }
  #color-5.active { box-shadow: 0 0 1px 5px @color-5; }
  #color-6.active { box-shadow: 0 0 1px 5px @color-6; }
}

ika-balloon {
  .user-select-none;
  display: block;
  margin: 2rem auto;

  @basic-padding: 1.2rem;
  .balloon-body {
    display: inline-block;
    position: relative;
    padding: @basic-padding @basic-padding * 1.6 @basic-padding * 1.1;
    background: #f99;
    border-radius: 16px;
    border-width: 8px;
    border-style: solid;
  }

  .flex-wrapper {
    display: -webkit-flex;
    display: flex;
  }

  .avatar-side {
    img {
      border-radius: 6px;
    }
  }

  .message-side {
    .user-select-text;
    font-weight: bold;
  }

  p {
    margin: 0;
  }

  .message {
    padding: 0 1rem;
    font-size: 1.8rem;
    text-align: center;

    .ika-id-label { margin: 0 0 0 0.5em; }
    .ika-id {
      margin: 0 0.5em 0 0.5em;
      font-size: 1.5em;
    }
  }

  .relative-time {
    font-weight: normal;
    text-align: right;
  }

  .balloon-body.color-0 { background: url("./app/images/stripe-0.gif"); }
  .balloon-body.color-1 { background: url("./app/images/stripe-1.gif"); }
  .balloon-body.color-2 { background: url("./app/images/stripe-2.gif"); }
  .balloon-body.color-3 { background: url("./app/images/stripe-3.gif"); }
  .balloon-body.color-4 { background: url("./app/images/stripe-4.gif"); }
  .balloon-body.color-5 { background: url("./app/images/stripe-5.gif"); }
  .balloon-body.color-6 { background: url("./app/images/stripe-6.gif"); }

  .balloon-body.color-0 { border-color: @color-0; }
  .balloon-body.color-1 { border-color: @color-1; }
  .balloon-body.color-2 { border-color: @color-2; }
  .balloon-body.color-3 { border-color: @color-3; }
  .balloon-body.color-4 { border-color: @color-4; }
  .balloon-body.color-5 { border-color: @color-5; }
  .balloon-body.color-6 { border-color: @color-6; }

  .color-0 a, .color-0 .ika-id { color: #fff; }
  .color-1 a, .color-1 .ika-id { color: #fefc2e; }
  .color-2 a, .color-2 .ika-id { color: #fff; }
  .color-3 a, .color-3 .ika-id { color: #008b64; }
  .color-4 a, .color-4 .ika-id { color: #fefc2e; }
  .color-5 a, .color-5 .ika-id { color: #fff; }
  .color-6 a, .color-6 .ika-id { color: #fefc2e; }

  @outline: 1px;
  .color-0 .ika-id { text-shadow: #4b1515 @outline @outline 0px, #4b1515 -1 * @outline @outline 0px, #4b1515 @outline -1 * @outline 0px, #4b1515 -1 * @outline -1 * @outline 0px; }
  .color-1 .ika-id { text-shadow: black @outline @outline 0px, black -1 * @outline @outline 0px, black @outline -1 * @outline 0px, black -1 * @outline -1 * @outline 0px; }
  .color-2 .ika-id { text-shadow: #420044 @outline @outline 0px, #420044 -1 * @outline @outline 0px, #420044 @outline -1 * @outline 0px, #420044 -1 * @outline -1 * @outline 0px; }
  .color-3 .ika-id { text-shadow: white @outline @outline 0px, white -1 * @outline @outline 0px, white @outline -1 * @outline 0px, white -1 * @outline -1 * @outline 0px; }
  .color-4 .ika-id { text-shadow: black @outline @outline 0px, black -1 * @outline @outline 0px, black @outline -1 * @outline 0px, black -1 * @outline -1 * @outline 0px; }
  .color-5 .ika-id { text-shadow: #002a22 @outline @outline 0px, #002a22 -1 * @outline @outline 0px, #002a22 @outline -1 * @outline 0px, #002a22 -1 * @outline -1 * @outline 0px; }
  .color-6 .ika-id { text-shadow: black @outline @outline 0px, black -1 * @outline @outline 0px, black @outline -1 * @outline 0px, black -1 * @outline -1 * @outline 0px; }

  .color-0 .message, .color-0 .ika-id-label, .color-0 .relative-time { color: #4b1515; }
  .color-1 .message, .color-1 .ika-id-label, .color-1 .relative-time { color: #fff; }
  .color-2 .message, .color-2 .ika-id-label, .color-2 .relative-time { color: #420044; }
  .color-3 .message, .color-3 .ika-id-label, .color-3 .relative-time { color: #294529; }
  .color-4 .message, .color-4 .ika-id-label, .color-4 .relative-time { color: #fff; }
  .color-5 .message, .color-5 .ika-id-label, .color-5 .relative-time { color: #002a22; }
  .color-6 .message, .color-6 .ika-id-label, .color-6 .relative-time { color: #fff; }
}

#siome-logo {
  width: 400px;
  height: 150px;
  margin: 1em;
}

#ika-login {
  -webkit-appearance: none;
  background: #fff;
  border: 4px solid #2AA9E0;
  border-radius: 8px;
  transition: border .3s ease, background-color .3s ease;

  img {
    width: 261px;
    height: 30px;
    margin: 1.4rem 2.2rem;
  }

  &:hover {
    transition: border 0.05s ease, background-color .05s ease;
    background: #e8f4fc;
    border: 4px solid #00abe0;
  }
}

#ika-logout {
  @color: #DD2A3C;

  margin-left: 1rem;
  -webkit-appearance: none;
  background: #fff;
  border: 2px solid @color;
  color: @color;
  border-radius: 4px;
  transition: border .3s ease, background-color .3s ease;
  font-weight: bold;

  &:hover {
    transition: border 0.05s ease, background-color .05s ease;
    background: #ffe8f0;
    color: darken(@color, 10%);
    border: 2px solid darken(@color, 10%);
  }
}
