.user-select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.user-select-text {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
* {
  color: #333333;
  font-size: 100%;
  text-align: center;
}
body {
  background-image: url("app/images/background.gif");
}
ika-header {
  display: block;
  background: #fff;
}
ika-header h1 {
  margin: 0;
}
ika-header p {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}
ika-entry-form {
  display: block;
  background: linear-gradient(#ffffff, rgba(255, 255, 255, 0));
  padding-bottom: 1rem;
}
ika-entry-form .login-info {
  padding: 1.4rem 0 2rem;
}
ika-entry-form .form-info {
  margin: 1.5rem 0 1rem;
  height: 1em;
  line-height: 1em;
}
ika-entry-form .form-info.error {
  font-weight: bold;
}
ika-entry-form .error.kumano {
  color: #e86b4e;
}
ika-entry-form .error.anemo {
  color: #cb40cc;
}
ika-entry-form .error.judgekun {
  color: #3d3c2e;
}
ika-entry-form label[for="ikaId"] {
  position: relative;
  top: -1px;
  width: 80px;
  margin-right: 1rem;
}
ika-entry-form label[for="ikaId"] img {
  width: 100%;
}
ika-entry-form input {
  text-align: left;
  border: 2px solid #333;
  border-radius: 4px;
  padding: .5rem 1rem;
  width: 17em;
  font-size: 1.8rem;
}
ika-entry-form .error input {
  border: 2px solid #e86b4e;
}
ika-entry-form .posting {
  height: 3em;
  margin-left: 1rem;
  -webkit-appearance: none;
  border-radius: 8px;
  transition: border 0.3s ease, background-color 0.3s ease;
}
ika-entry-form .posting img {
  position: relative;
  height: 2em;
}
ika-entry-form .posting.save {
  background: #00aeef;
  border: 2px solid #006489;
}
ika-entry-form .posting.save p {
  margin-top: 1.2rem;
  font-size: 1.2rem;
}
ika-entry-form .posting.save img {
  top: 2px;
}
ika-entry-form .posting.update {
  background: #fff;
  border: 2px solid #2341a4;
}
ika-entry-form .posting.remove {
  background: #fff;
  border: 2px solid #e86b4e;
}
ika-entry-form .posting[disabled="disabled"] {
  transition: opacity .3s ease;
  opacity: .2;
}
ika-entry-form .error .posting p {
  display: none;
}
ika-palette {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  cursor: default;
}
ika-palette button {
  -webkit-appearance: none;
  width: 32px;
  height: 32px;
  border: none;
  margin: 1.2rem;
  border-radius: 6px;
  border: 2px solid #fff;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0);
}
ika-palette button:focus {
  outline: none;
}
ika-palette #color-0 {
  background-color: #e86b4e;
}
ika-palette #color-1 {
  background-color: #2341a4;
}
ika-palette #color-2 {
  background-color: #cb40cc;
}
ika-palette #color-3 {
  background-color: #98f000;
}
ika-palette #color-4 {
  background-color: #791e8a;
}
ika-palette #color-5 {
  background-color: #75d1cc;
}
ika-palette #color-6 {
  background-color: #3d3c2e;
}
ika-palette .active {
  transition: box-shadow 0.2s ease;
}
ika-palette #color-0.active {
  box-shadow: 0 0 1px 5px #e86b4e;
}
ika-palette #color-1.active {
  box-shadow: 0 0 1px 5px #2341a4;
}
ika-palette #color-2.active {
  box-shadow: 0 0 1px 5px #cb40cc;
}
ika-palette #color-3.active {
  box-shadow: 0 0 1px 5px #98f000;
}
ika-palette #color-4.active {
  box-shadow: 0 0 1px 5px #791e8a;
}
ika-palette #color-5.active {
  box-shadow: 0 0 1px 5px #75d1cc;
}
ika-palette #color-6.active {
  box-shadow: 0 0 1px 5px #3d3c2e;
}
ika-balloon {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  margin: 2rem auto;
}
ika-balloon .balloon-body {
  display: inline-block;
  position: relative;
  padding: 1.2rem 1.92rem 1.32rem;
  background: #f99;
  border-radius: 16px;
  border-width: 8px;
  border-style: solid;
}
ika-balloon .flex-wrapper {
  display: -webkit-flex;
  display: flex;
}
ika-balloon .avatar-side img {
  border-radius: 6px;
}
ika-balloon .message-side {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  font-weight: bold;
}
ika-balloon p {
  margin: 0;
}
ika-balloon .message {
  padding: 0 1rem;
  font-size: 1.8rem;
  text-align: center;
}
ika-balloon .message .ika-id-label {
  margin: 0 0 0 0.5em;
}
ika-balloon .message .ika-id {
  margin: 0 0.5em 0 0.5em;
  font-size: 1.5em;
}
ika-balloon .relative-time {
  font-weight: normal;
  text-align: right;
}
ika-balloon .balloon-body.color-0 {
  background: url("app/images/stripe-0.gif");
}
ika-balloon .balloon-body.color-1 {
  background: url("app/images/stripe-1.gif");
}
ika-balloon .balloon-body.color-2 {
  background: url("app/images/stripe-2.gif");
}
ika-balloon .balloon-body.color-3 {
  background: url("app/images/stripe-3.gif");
}
ika-balloon .balloon-body.color-4 {
  background: url("app/images/stripe-4.gif");
}
ika-balloon .balloon-body.color-5 {
  background: url("app/images/stripe-5.gif");
}
ika-balloon .balloon-body.color-6 {
  background: url("app/images/stripe-6.gif");
}
ika-balloon .balloon-body.color-0 {
  border-color: #e86b4e;
}
ika-balloon .balloon-body.color-1 {
  border-color: #2341a4;
}
ika-balloon .balloon-body.color-2 {
  border-color: #cb40cc;
}
ika-balloon .balloon-body.color-3 {
  border-color: #98f000;
}
ika-balloon .balloon-body.color-4 {
  border-color: #791e8a;
}
ika-balloon .balloon-body.color-5 {
  border-color: #75d1cc;
}
ika-balloon .balloon-body.color-6 {
  border-color: #3d3c2e;
}
ika-balloon .color-0 a,
ika-balloon .color-0 .ika-id {
  color: #fff;
}
ika-balloon .color-1 a,
ika-balloon .color-1 .ika-id {
  color: #fefc2e;
}
ika-balloon .color-2 a,
ika-balloon .color-2 .ika-id {
  color: #fff;
}
ika-balloon .color-3 a,
ika-balloon .color-3 .ika-id {
  color: #008b64;
}
ika-balloon .color-4 a,
ika-balloon .color-4 .ika-id {
  color: #fefc2e;
}
ika-balloon .color-5 a,
ika-balloon .color-5 .ika-id {
  color: #fff;
}
ika-balloon .color-6 a,
ika-balloon .color-6 .ika-id {
  color: #fefc2e;
}
ika-balloon .color-0 .ika-id {
  text-shadow: #4b1515 1px 1px 0px, #4b1515 -1px 1px 0px, #4b1515 1px -1px 0px, #4b1515 -1px -1px 0px;
}
ika-balloon .color-1 .ika-id {
  text-shadow: black 1px 1px 0px, black -1px 1px 0px, black 1px -1px 0px, black -1px -1px 0px;
}
ika-balloon .color-2 .ika-id {
  text-shadow: #420044 1px 1px 0px, #420044 -1px 1px 0px, #420044 1px -1px 0px, #420044 -1px -1px 0px;
}
ika-balloon .color-3 .ika-id {
  text-shadow: white 1px 1px 0px, white -1px 1px 0px, white 1px -1px 0px, white -1px -1px 0px;
}
ika-balloon .color-4 .ika-id {
  text-shadow: black 1px 1px 0px, black -1px 1px 0px, black 1px -1px 0px, black -1px -1px 0px;
}
ika-balloon .color-5 .ika-id {
  text-shadow: #002a22 1px 1px 0px, #002a22 -1px 1px 0px, #002a22 1px -1px 0px, #002a22 -1px -1px 0px;
}
ika-balloon .color-6 .ika-id {
  text-shadow: black 1px 1px 0px, black -1px 1px 0px, black 1px -1px 0px, black -1px -1px 0px;
}
ika-balloon .color-0 .message,
ika-balloon .color-0 .ika-id-label,
ika-balloon .color-0 .relative-time {
  color: #4b1515;
}
ika-balloon .color-1 .message,
ika-balloon .color-1 .ika-id-label,
ika-balloon .color-1 .relative-time {
  color: #fff;
}
ika-balloon .color-2 .message,
ika-balloon .color-2 .ika-id-label,
ika-balloon .color-2 .relative-time {
  color: #420044;
}
ika-balloon .color-3 .message,
ika-balloon .color-3 .ika-id-label,
ika-balloon .color-3 .relative-time {
  color: #294529;
}
ika-balloon .color-4 .message,
ika-balloon .color-4 .ika-id-label,
ika-balloon .color-4 .relative-time {
  color: #fff;
}
ika-balloon .color-5 .message,
ika-balloon .color-5 .ika-id-label,
ika-balloon .color-5 .relative-time {
  color: #002a22;
}
ika-balloon .color-6 .message,
ika-balloon .color-6 .ika-id-label,
ika-balloon .color-6 .relative-time {
  color: #fff;
}
#siome-logo {
  width: 400px;
  height: 150px;
  margin: 1em;
}
#ika-login {
  -webkit-appearance: none;
  background: #fff;
  border: 4px solid #2AA9E0;
  border-radius: 8px;
  transition: border 0.3s ease, background-color 0.3s ease;
}
#ika-login img {
  width: 261px;
  height: 30px;
  margin: 1.4rem 2.2rem;
}
#ika-login:hover {
  transition: border 0.05s ease, background-color 0.05s ease;
  background: #e8f4fc;
  border: 4px solid #00abe0;
}
#ika-logout {
  margin-left: 1rem;
  -webkit-appearance: none;
  background: #fff;
  border: 2px solid #dd2a3c;
  color: #dd2a3c;
  border-radius: 4px;
  transition: border 0.3s ease, background-color 0.3s ease;
  font-weight: bold;
}
#ika-logout:hover {
  transition: border 0.05s ease, background-color 0.05s ease;
  background: #ffe8f0;
  color: #b71d2d;
  border: 2px solid #b71d2d;
}
#ika-footer {
  margin-top: 100px;
  margin-bottom: 2rem;
}
