* {
  color: #333333;
  font-size: 100%;
}
body {
  background-image: url("app/images/background.gif");
}
ika-header {
  display: block;
  background: #fff;
  text-align: center;
}
ika-header h1 {
  margin: 0;
}
ika-header p {
  margin-top: 1.5rem;
  margin-bottom: 3.0rem;
  font-size: 2rem;
  font-weight: bold;
}
#siome-logo {
  width: 500px;
  height: 187px;
  margin: 1em;
}
