<button id="color-0" ng-class="{active: 0 === ikaPalette.colorNumber}" ng-click="ikaPalette.setColor(0)">&nbsp;</button>
<button id="color-1" ng-class="{active: 1 === ikaPalette.colorNumber}" ng-click="ikaPalette.setColor(1)">&nbsp;</button>
<button id="color-2" ng-class="{active: 2 === ikaPalette.colorNumber}" ng-click="ikaPalette.setColor(2)">&nbsp;</button>
<button id="color-3" ng-class="{active: 3 === ikaPalette.colorNumber}" ng-click="ikaPalette.setColor(3)">&nbsp;</button>
<button id="color-4" ng-class="{active: 4 === ikaPalette.colorNumber}" ng-click="ikaPalette.setColor(4)">&nbsp;</button>
<button id="color-5" ng-class="{active: 5 === ikaPalette.colorNumber}" ng-click="ikaPalette.setColor(5)">&nbsp;</button>
<button id="color-6" ng-class="{active: 6 === ikaPalette.colorNumber}" ng-click="ikaPalette.setColor(6)">&nbsp;</button>
