<div ng-if="!ikaEntryForm.authStatus">
  <button id="ika-login" ng-click="ikaEntryForm.login()"><img src="./app/images/button-login.png" alt="Twitterでログイン!"></button>
</div>

<div ng-if="ikaEntryForm.authStatus">
  <p class="login-info">
    <a href="https://twitter.com/{{ikaEntryForm.authStatus.twitter.username}}">@{{ikaEntryForm.authStatus.twitter.username}}</a>でログイン中だよ
    <button id="ika-logout" ng-click="ikaEntryForm.logout()">ログアウト</button>
  </p>

  <form ng-class="{error: ikaEntryForm.formInfo.type === 'error'}">
    <label for="ikaId"><img src="./app/images/label-ikaid.png" alt="イカID"></label><input type="text" id="ikaId" ng-model="ikaEntryForm.post.ikaId">
    <ika-palette ika-color-number="ikaEntryForm.colorNumber"></ika-palette>
    <button class="posting save" ng-if="!ikaEntryForm.registered" ng-disabled="!ikaEntryForm.postable" ng-click="ikaEntryForm.save()">
      <img src="./app/images/button-save.png" alt="登録する">
    </button>
    <button class="posting update" ng-if= "ikaEntryForm.registered" ng-disabled="!ikaEntryForm.postable" ng-click="ikaEntryForm.update()">
      <img src="./app/images/button-update.png" alt="更新する">
    </button>
    <button class="posting remove" ng-if= "ikaEntryForm.registered" ng-disabled="!ikaEntryForm.postable" ng-click="ikaEntryForm.remove()">
      <img src="./app/images/button-remove.png" alt="取り消す">
    </button>
    <p class="form-info" ng-class="[ikaEntryForm.formInfo.type]+' '+[ikaEntryForm.formInfo.character]">{{ikaEntryForm.formInfo.message}}</p>
  </form>
</div>
