<h1>{{ikaApp.title}}</h1>
<div>
  <p>{{ikaApp.description}}</p>
</div>

<div ng-if="!ikaApp.authStatus">
  <p>Anonymous User</p>
  <button ng-click="ikaApp.login()">login</button>
</div>
<div ng-if="ikaApp.authStatus">
  <p>@{{ikaApp.authStatus.twitter.username}} でログイン中</p>
  <button ng-click="ikaApp.logout()">logout</button>

  <form>
    <label for="ikaId">イカID</label><input type="text" id="ikaId" ng-model="ikaApp.post.ikaId">
    <button ng-if="!ikaApp.registered" ng-click="ikaApp.save()">save</button>
    <button ng-if= "ikaApp.registered" ng-click="ikaApp.update()">update</button>
  </form>
</div>

<div>
  <ul>
    <li ng-repeat="squid in ikaApp.hordeOfSquid">@{{squid.twitterId}}は {{squid.ikaId}} でやってます! イカ、よろしく〜〜〜</li>
  </ul>
</div>
