<div ng-if="!ikaEntryForm.authStatus">
  <button id="ika-login" ng-click="ikaEntryForm.login()"><img src="./app/images/button-login.png" alt="Twitterでログイン!"></button>
</div>
<div ng-if="ikaEntryForm.authStatus">
  <p class="login-info">
    <a href="https://twitter.com/{{ikaEntryForm.authStatus.twitter.username}}">@{{ikaEntryForm.authStatus.twitter.username}}</a>でログイン中だよ
    <button id="ika-logout" ng-click="ikaEntryForm.logout()">ログアウト</button>
  </p>

  <form>
    <label for="ikaId">イカID</label><input type="text" id="ikaId" ng-model="ikaEntryForm.post.ikaId" required>
    <ika-palette ika-color-number="ikaEntryForm.colorNumber"></ika-palette>
    <button ng-if="!ikaEntryForm.registered" ng-disabled="!ikaEntryForm.postable" ng-click="ikaEntryForm.save()">save</button>
    <button ng-if= "ikaEntryForm.registered" ng-disabled="!ikaEntryForm.postable" ng-click="ikaEntryForm.update()">update</button>
    <button ng-if= "ikaEntryForm.registered" ng-disabled="!ikaEntryForm.postable" ng-click="ikaEntryForm.remove()">remove</button>
    <p class="form-info" ng-class="'form-'+[ikaEntryForm.formInfo.type]">{{ikaEntryForm.formInfo.message}}</p>
  </form>
</div>
